<style>
  table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    border-spacing: 0;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
}
table th {
    padding: 3px 10px;
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
}
table td {
    padding: 3px 10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: none;
    border-right: none;
}
</style>
<table style="width:100%;">
<colgroup>
<col style="width: 10%" />
<col style="width: 10%" />
<col style="width: 10%" />
<col style="width: 10%" />
<col style="width: 10%" />
<col style="width: 10%" />
<col style="width: 10%" />
<col style="width: 10%" />
<col style="width: 10%" />
<col style="width: 10%" />
</colgroup>
<thead>
<tr class="header">
<th>Name</th>
<th>Domain</th>
<th>Distributed</th>
<th>Task overhead</th>
<th>Data parallel</th>
<th>Provenance</th>
<th>Dependency-time</th>
<th>Delete unused products</th>
<th>Correct wrt changes in dependencies</th>
<th>Memory-aware scheduling</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><a href="https://github.com/aspuru-guzik-group/funsies">funsies</a></td>
<td></td>
<td>Distributed</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="https://luigi.readthedocs.io/en/stable/index.html">Luigi</a></td>
<td></td>
<td>Distributed</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="https://docs.reana.io/">Reena</a></td>
<td>Computational science</td>
<td></td>
<td>Distributed</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="https://yadage.readthedocs.io/en/latest/definingworkflows.html">Yadage</a></td>
<td>Computational science</td>
<td>Distributed</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="https://snakemake.github.io/">Snakemake</a></td>
<td>Computational science</td>
<td>Distributed</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="https://getpopper.io/">Popper</a></td>
<td>Computational science</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="https://nixos.org/">Nix</a></td>
<td>Package management</td>
<td>Distributed</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="https://bazel.build/">Bazel</a></td>
<td>Build system</td>
<td>Distributed</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="https://buck.build/">Buck</a></td>
<td>Build system</td>
<td>Single server</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="https://www.gnu.org/software/make/">Make</a></td>
<td>Build system</td>
<td>Single server</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="https://scons.org/">Scons</a></td>
<td>Build system</td>
<td>Single server</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><a href="https://martinfowler.com/articles/rake.html">Rake</a></td>
<td>Build System</td>
<td>Single server</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><a href="https://shakebuild.com/">Shake</a></td>
<td>BuildSystem</td>
<td>Single server</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
<ul>
<li><p><a href="https://www.commonwl.org/user_guide/index.html">CWL</a>: Just a language for going to other workflow managers.</p></li>
<li><p><a href="https://flink.apache.org/">Apache Flink</a>: Stream oriented.</p></li>
<li><p><a href="https://airflow.apache.org/">Apache Airflow</a>: Too complex, designed for big-data.</p></li>
</ul>
